<div id="<%= dom_id room %>">
  <p>
    <strong>Title:</strong>
    <%= room.title %>
  </p>

  <strong>Users:</strong>

  <div>  
    <%=format_users_of_room(room.users)  %>
  </div>

  <div>
    Current user: <%= @current_user.name %>
    </div>
</div>
