<div class="mt-24">
  <div>
    <%= link_to "â† Back to my room", @room %>
  </div>

  <section id="header" class="flex flex-col">
    <div class="flex flex-row items-center justify-between w-full">
      <h1 class="<%= tailwind_header_class(:dark) %>">Edit room?</h1>
    </div>  
  </section>

  <section id="create-room" class="flex flex-row mt-9 items-start justify-center">
    <%= render "form", room: @room %>
  </section>
</div>